.LandingPage header {
  font-size: 18px;
  margin: 50px 10px 0px 10px;
}

.LandingPage h1 {
  color: black;
  background-color: #078787;
  
  border-radius: 10px;
  border: solid black 2px;
}

.LandingPage section {
  min-height: 200px;
  padding: 6% 0;
}

.LandingPage .description {
  background-color: rgb(136, 7, 7);
  color: white;
  border-radius: 15px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 3px;
  border: solid 2px black;
}

.LandingPage button {
  background-color: white;
  border: 1px solid black;
  border-radius: 15%;
  font-size: 16px;
  height: 60px;
  width: 60px;
  padding: 0;
}

button:hover {
  transform: scale(1.1);
}

.LandingPage .landing-buttons {
  display: flex;
  justify-content: space-around;
}

