.GamesListEntry {
  margin: 0px 20px 20px 20px;
  padding: 10px;
  border-radius: 10px;
  border: solid black 1px;
}

.GamesListEntry ul {
  list-style: none;
  padding-left: 0px;
  display: flex;
  justify-content: space-around;
  margin: 0 0 0 0;
}

.GamesListEntry h2 {
  margin: 0 0 0 10px;
}

.GamesListEntry a {
  text-decoration: none;
  color: black;
}

.GamesListEntry .game-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.GamesListEntry img:hover {
  transform: scale(1.1);
}

.GamesListEntry h2:hover {
  transform: scale(1.1);
}