* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  background-image: url(../../table-background.jpg);
}

button:hover, a:hover {
  transform: scale(1.2);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
