.LoginPage header {
  margin: 45px 5px 0 5px;
  padding-bottom: 0px;
  font-size: 16px;
  background-image: url(../../board-background2.jpg);
  border-radius: 15px;
}

.LoginPage h1 {
  border-radius: 15px;
  background-color: rgba(7, 135, 135, .8);
  border: 1px solid black;
}

.LoginPage .input-fields-background {
  background-image: url(../../board-background2.jpg);
  border-radius: 15px;
  margin: 0 5px;
}

.LoginPage .input-fields {
  border-radius: 15px;
  border: 1px solid black;
  padding: 20px;
  background-color: rgb(136, 7, 7, .8);
  color: white;
}

.LoginPage button {
    margin-top: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15%;
    font-size: 16px;
    height: 60px;
    width: 60px;
    padding: 0;
    font-weight: bold;
}

.LoginPage input {
  margin-left: 5px;
}

.LoginPage .button-box {
  display: flex;
  justify-content: space-around;
}

