.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 1% 5px;
  background-color: #87ADDE;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.NavBar a {
  color: black;
  text-decoration: none;
}

.NavBar button {
  padding: 0;
  background-color: #87ADDE;
  border: none;
}