.NotesPage header {
  margin-top: 45px;
  font-size: 16px;
}

.NotesPage h1 {
  margin: 45px 5px 0 5px;
  border-radius: 15px;
  padding-bottom: 0px;
  background-color: rgba(255, 255, 255, .8);
}

.NotesPage h2 {
  background-color: yellow;
  margin: 20px 75px;
  border-radius: 10px;
  font-weight: bold;
}

.NotesPage .main-page {
  margin-bottom: 40px;
  margin-top: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 15%;
  font-size: 16px;
  height: 60px;
  width: 60px;
  padding: 0;
  font-weight: bold;
}